/* Site Navigation */
.nav-site .ui-btn .ui-btn-text { font-size:0.8em;}
.nav-site .ui-btn .ui-btn-inner { padding-top: 40px !important; }
.nav-site .ui-btn .ui-icon { width: 30px!important; height: 30px!important; margin-left: -15px !important; box-shadow: none!important; -moz-box-shadow: none!important; -webkit-box-shadow: none!important; -webkit-border-radius: 0 !important; border-radius: 0 !important; }
#home_nav .ui-icon { background:  url(../images/glyphicons/glyphicons_020_home.png) 50% 50% no-repeat;}
#order_nav .ui-icon { background:  url(../images/glyphicons/glyphicons_294_coffe_cup.png) 50% 50% no-repeat;}
#bill_nav .ui-icon { background:  url(../images/glyphicons/glyphicons_227_usd.png) 50% 50% no-repeat;}
#account_nav .ui-icon { background:  url(../images/glyphicons/glyphicons_244_conversation.png) 50% 50% no-repeat;}
#more_nav .ui-icon { background:  url(../images/glyphicons/glyphicons_187_more.png) 50% 50% no-repeat;}

/* Global */
.home {
    background: url(../images/wsc_wallpaper.png) no-repeat -5px 70% transparent;
}

/* Home */
div#states {
    text-align: center;
}

/* My Bill */
/* NJS - remove all this !important stuff */
#my_bill .ui-content {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
#my_bill .ui-content p {
    margin-left: 12px;
}
#my_bill .ui-collapsible-content {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: 0 !important;
    margin-right: 0 !important;
}
#my_bill .ui-collapsible-heading {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
#my_bill .ui-collapsible-heading .ui-btn-up-c {
    border-left: none !important;
    border-right: none !important;
}
#my_bill .ui-collapsible-heading .ui-icon-minus {
    background-position: -180px 50% !important;
}
#my_bill .ui-collapsible-heading .ui-icon-plus {
    background-position: -216px 50% !important;
}
#my_bill .ui-collapsible .ui-corner-top {
    -moz-border-radius-topleft: 		0 !important;
    -webkit-border-top-left-radius: 	0 !important;
    border-top-left-radius: 			0 !important;
    -moz-border-radius-topright: 		0 !important;
    -webkit-border-top-right-radius: 	0 !important;
    border-top-right-radius: 			0 !important;
}
#my_bill .ui-collapsible .ui-corner-bottom {
    -moz-border-radius-bottomleft: 		0 !important;
    -webkit-border-bottom-left-radius: 	0 !important;
    border-bottom-left-radius: 			0 !important;
    -moz-border-radius-bottomright: 	0 !important;
    -webkit-border-bottom-right-radius: 0 !important;
    border-bottom-right-radius: 		0 !important;
}
#my_bill table {
    font-size: 0.75em;
    border-collapse: collapse;
    width: 100%;
}
#my_bill table th, #my_bill table td {
    padding: 0.6em 0.4em;
    text-align: left;
}
#my_bill .currency {
    text-align: right;
}
#my_bill tr:nth-child(even) {
    background: #eee;
}
#my_bill th {
    border-bottom: 1px solid #333;
}

/* Seat Selector */
div#reserve_seat td div.seat {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: #CCC 4px double;
    font-size: 20px;
    color: #888;
    line-height: 50px;
    text-shadow: 0 1px 0 white;
    text-decoration: none;
    text-align: center;
    background: #DDD;
}

div#reserve_seat td div.seat:hover {
    color: #BBB;
    background: #CCC;
}

div#reserve_seat td div.seat.selected {
    color: #FFF;
    background: #AAA;
}

div#reserve_seat td div.seat.taken {
    color: #DDD;
    background: #EEE;
    border-color: #FFF;
}

/* Polls */

#community .ui-content ul {
    margin-bottom: 30px;
}
#community .ui-li-icon {
    top: 0.7em;
}

#community #art .ui-li-has-alt .ui-li-count {
    right: 65px;
}

/* Our People */

.employee {
    border-bottom: 1px solid #ddd;
}
.employee:last-child {
    border-bottom: none;
}
.employee img {
    float: right;
    width: 100px;
    border: 3px solid #ffffff;
    box-shadow: 1px 1px 3px #333;
    margin: 0 10px 10px 0;
}
.employee .bio {

}
.employee .bio h3 {
    margin-top: 10px;
}

.avatar{ /* selector for avatar class*/
         margin-left:auto;
         margin-right:auto;
         text-align: center;
         left: 50%;

         background: #fff; /* background */
         width: 50px;
         height: 50px;
         padding: 5px; /* internal padding ( top, right, bottom, left) */
         border: 1px solid #999; /* border(width, type, color) */
         border-radius: 50%; /* border-radius is equal to 50 percent of a general width, actually 25 pixels, here and a circle was got(there is also with prefix - moz and - o) */
         box-shadow: 0px 1px 1px 1px #bbb /* across displacement, vertical displacement, smearing, increase and color */
}
.avatar img{ /* selector for a picture which is "inside" the avatar class */
             display: block; /* a picture is being displayed as a block, by a width it will be equal to the parent(in the div) */
             width: 100%; /* width 100% */
             border: 0; /* zero border */
             margin: 0; /* external margin is lacking */
             border-radius: 50%; /* read above */
}

.paying_indicator {
    width: 10px;
    height: 10px;
    background: green;

    border-radius: 50%;
    display: inline-block;
}

div#home_paying_indicator div.paying_indicator{
    float:right;
}

table.center {
    margin-left:auto;
    margin-right:auto;
}