<div>
<div><div class= "list_grid_but"><%=link_to "Free", add_free_hours_admin_dashboard_index_path%></div>
<div class= "list_grid_but"><a href="<%=add_hours_admin_dashboard_index_url%>">Paid</a></div>
</div>
</div>