<div>
<div><div class= "list_grid_but"><%=link_to "Free", add_free_hours_admin_dashboard_index_path, :class => "btn btn-large btn-primary"%></div>
<div class= "list_grid_but"><a href="<%=add_hours_admin_dashboard_index_url%>"  class="btn btn-large btn-primary">Paid</a></div>
</div>
</div>