<h2>Staff dashboard</h2>
Find User : <%=text_field_tag "staf_user",'', :class => 'staff_input', :placeholder => "Search customer" %>
<div class = "users_list">

</div>
<script type="text/javascript">
$("#staf_user").keyup(function(){
  $.ajax({
    complete:function(request){},
    data:'staf_user='+ $(this).val(),
    dataType:'script',
    type:'post',
    url: '/admin/dashboard/fetch_users'
  })
});
</script>