<h2>Staff dashboard</h2>
<%=form_tag pos_conformation_admin_dashboard_index_path do %>
POS confirmation #: <%=text_field_tag :confomation%><br/><br/>
Staff initials: <%=text_field_tag :staf%><br/><br/>
<%=submit_tag "Submit"%>
<%end%>