<h2>Staff dashboard</h2>
<%=form_tag pos_confirmation_admin_dashboard_index_path do %>
POS confirmation <span>*</span> : <%=text_field_tag :confomation,'', :class => 'staff_input', :placeholder => 'Enter POS conformation'%><br/><br/>
Staff initials: <%=text_field_tag :staf,'', :class => 'staff_input', :placeholder => 'Staff intials'%><br/><br/>
<%=submit_tag "Submit", :class => "admin_submit_button btn btn-large btn-primary"%>
<%end%>
<script type="text/javascript">
$('.admin_submit_button').click(function(){
	if($('#confomation').val()==''){
		$('#confomation').css('border','1px red solid');
		$('#confomation').focus();
		return false;
	}else{

	}

});
</script>